/****** header *******/
.header {
	width:100%;
	height:auto;
}
.header #main_header {
	min-height:120px;
	background:url(images/header/header-bg.png) repeat-x !important;
	background: #f3f3f3; /* tutti i browser */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #d7d7d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f3f3 0%,#d7d7d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f3f3 0%,#d7d7d7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#d7d7d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
}
.header #topbar {
	text-align: center;
	color: #858585!important;
	font-size: 12px;
	font-family: Arial;
	line-height: 30px;
	height:30px;
	border-bottom: 1px solid #DDD;
	position:relative;
}
.header #topbar .date{
	position:absolute;
	left:42%;
}
/** social **/
.header #topbar .socials{
	position: absolute;
	right: 8px;
	top: 3px;
}
.header #topbar .social{
	margin-left: 4px;
	background-position:0 0;
	background-repeat:no-repeat;
	width:26px;
	height:25px;
	float:left;
}
.header #topbar a.fb{
	background-image:url(images/icone/icon-facebook.png);
}
.header #topbar a.tw{
	background-image:url(images/icone/icon-twitter.png);
}
.header #topbar a.gp{
	background-image:url(images/icone/icon-googleplus.png);
}
.header #topbar a.yt{
	background-image:url(images/icone/icon-youtube.png);
}

.header_viaggi {
	background-image:url(images/struttura/sfondo_header_viaggi.jpg);
}
.header .heading {
	display:block;
	width:100%;
	height:100px;
	text-align:center;
}
.header .heading img {
	padding-top: 30px;
}
.header .heading .logo {
	float: none;
}
.header .cat h1 {
	padding-left: 15px;
	overflow: hidden;
	float: left;
	padding-top: 30px;
}
.header .cat .category-title,
.header .cat .logo {
	float:left;
}
.header .cat .logo {
	margin-right: 8px;
}
.header .cat img {
	padding-top: 12px;
	width:120px;
}
.ads {
	text-align: center;
}
.header .cat .ads {
	float: right;
}
.header a.category-title {
	background: #7FBA55 !important;
	color: #FFF;
	line-height: 35px;
}
.header_print {
	display:none;
}
/****** menu nav *******/
.header .menu_nav{
	height:63px;
	margin:10px 0px 0px 0px;
	position:relative;
}
.header .menu_nav ul, 
.header .menu_nav li {
	list-style:none;
	margin:0px;
	padding:0px;
}
.header .menu_nav a {
	display:inline-block;
	text-decoration:none;
	font-size:0.8em;
}
.header .menu_nav > ul {
	overflow:hidden;
}
.header .menu_nav > ul > li {
	float:left;
}
.header .menu_nav > ul > li > a {
	height:30px;
	font-size:1em;
	line-height:1.8em;
	padding:0px 12px;
	color:#666;
	border-radius:4px 4px 0px 0px;
}
.header .menu_nav > ul > li > a:hover{
	color:#CC0000;
	text-decoration:underline;
}
.header .menu_nav > ul > li.current-menu-item > a,
.header .menu_nav > ul > li.current-post-ancestor > a,
.header .menu_nav > ul > li.current-menu-parent > a {
	color:#FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.header .menu_nav > ul > li.current-menu-item > a:hover,
.header .menu_nav > ul > li.current-post-ancestor > a:hover,
.header .menu_nav > ul > li.current-menu-parent > a:hover{
	text-decoration:none;
}
.header .menu_nav > ul > li > ul {
	display:none;
	position:absolute;
	left:0px;
	width:1024px;
}
.header .menu_nav > ul > li.current-menu-item > ul,
.header .menu_nav > ul > li.current-post-ancestor > ul,
.header .menu_nav > ul > li.current-menu-parent > ul{
	display:block;
}
.header .menu_nav > ul > li > ul > li{
	float:left;
}
.header .menu_nav > ul > li > ul > li > a{
	color:#FFF;
	height:30px;
	line-height:2.4em;
	padding:0px 10px 0px 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.header .menu_nav > ul > li > ul > li.current-menu-item >a,
.header .menu_nav > ul > li > ul > li.current-post-parent > a{
	text-decoration:underline;
}
/****** home *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25610 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25610 a{
	background-color:#125F89;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25610 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25610 .sub-menu{
	background-color:#125F89;	
}
/****** ambiente *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25614 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25614 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25614 a{
	background-color:#01AAD5;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25614 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25614 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25614 .sub-menu{
	background-color:#01AAD5;	
}
/****** attualità *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25618 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25618 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25618 a{
	background-color:#F39D0A;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25618 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25618 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25618 .sub-menu{
	background-color:#F39D0A;	
}
/****** cultura *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25621 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25621 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25621 a{
	background-color:#893363;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25621 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25621 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25621 .sub-menu{
	background-color:#893363;	
}
/****** green economy *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25623 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25623 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25623 a{
	background-color:#6BAD30;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25623 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25623 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25623 .sub-menu{
	background-color:#6BAD30;	
}
/****** salute *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25625 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25625 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25625 a{
	background-color:#3F9F9E;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25625 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25625 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25625 .sub-menu{
	background-color:#3F9F9E;	
}
/****** scienza *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-25629 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25629 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25629 a{
	background-color:#79A0C1;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-25629 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-25629 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-25629 .sub-menu{
	background-color:#79A0C1;	
}
/****** viaggi *******/
.header .menu_nav > ul > li.current-menu-item.menu-item-31214 a,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-31214 a,
.header .menu_nav > ul > li.current-menu-parent.menu-item-31214 a{
	background-color:#4795DD;	
}
.header .menu_nav > ul > li.current-menu-item.menu-item-31214 .sub-menu,
.header .menu_nav > ul > li.current-post-ancestor.menu-item-31214 .sub-menu,
.header .menu_nav > ul > li.current-menu-parent.menu-item-31214 .sub-menu{
	background-color:#4795DD;	
}
/****** banner *******/
.header .banner {
	margin:15px 0px 0px 0px;
	position:relative;
}
/** ricerca **/
.header .menu_nav .ricerca{
	position:absolute;
	height:49px;
	right:0;
}
.header .menu_nav .ricerca #cse-search-box input[type="text"]{
	width:145px;
}
.header .menu_nav .ricerca #cse-search-box input[type="submit"]{
	padding:0px 10px;
	border:1px solid #125F89;
	padding:1px 6px;
	background-color: #125F89;
	color:#fff;
	border-radius:3px;
}

